# Node modules
node_modules/

# Dependency lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Compiled TypeScript files
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Misc
.DS_Store
Thumbs.db
combines.log